{% extends 'web/base.html' %}

{% block main_content %}
<div class="for_service_details">
    <h2>Account Details</h2>
    <div class="account-info">
        <p><strong>Username:</strong> {{ user.username }}</p>
        {% if user.first_name %}
        <p><strong>Name:</strong> {{ user.get_full_name }}</p>
        {% endif %}
        <p><strong>Email:</strong> {{ user.email }}</p>
        {% if user.height %}
        <p><strong>Height:</strong> {{ user.height }}</p>
        {% endif %}
        {% if user.weight %}
        <p><strong>Weight:</strong> {{ user.weight }}</p>
        {% endif %}
        {% if user.age %}
        <p><strong>Age:</strong> {{ user.age }}</p>
        {% endif %}
        {% if user.city %}
        <p><strong>City:</strong> {{ user.city }}</p>
        {% endif %}
    </div>
    <div class="account-type">
        {% if user.is_trainer %}
        <p><strong>Account Type:</strong> Trainer</p>
            <div class="buttons">
        <a href="{% url 'edit profile' %}" class="btn btn-primary">Edit Profile</a>
        <a href="{% url 'manage_exercises' %}" class="btn btn-primary">Manage Exercises</a>
                <a href="{% url 'logout user' %}" class="btn btn-primary">Log Out</a>
            <a href="#" class="btn btn-primary">Delete Profile</a>
            </div>
        {% else %}
        <p><strong>Account Type:</strong> User</p>
            <div class="buttons">
                    <a href="{% url 'select_workout_preferences' %}" class="btn btn-primary">Edit Workout Plan</a>
        <a href="{% url 'edit profile' %}" class="btn btn-primary">Edit Profile</a>
        <a href="{% url 'workout_plans' %}" class="btn btn-primary">Check Workout Plan</a>
                <a href="{% url 'logout user' %}" class="btn btn-primary">Log Out</a>
            <a href="#" class="btn btn-primary">Delete Profile</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
